body {
    background-color:beige;
     text-align: center;
     font-family:"Arial", Helvetica, sans-serif";
}
h1{
    font-size: 30px;
    color: brown;
}
h2 {
    font-size:25px;
    color:brown;
}
h3 {
    font-size: 20px;
    color: brown;
}
p {
    font-size:18px;
}
ul {
    font-size: 18px;
    list-style-position: inside;
}
ol {
    font-size: 18px;
}
.text-green {
    color:rgb(19, 102, 54)
}

a:link, a:visited {
    background-color: blanchedalmond;
    color:black;
    padding: 20px 100px;
    border: 3px solid green;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
a:hover, a:active {
    background-color: rgb(216, 138, 138);
}

